.memoRow{
    display: flex;
    align-items: center;
    height:50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index:999;
}

.memoRow:hover{
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.24);
}

.memoRow__options{
    display: flex;
}

.memoRow__message{
    display:flex;
    flex:0.8;
    align-items: center;
    font-size: 13px;
}

.memoRow__message >h4{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.memoRow__header{
    display: flex;
    flex-direction: row;

}
.memoInfo{
    display: flex;
    flex-direction: column;

}

.memoRow__title{
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    flex:0.3;
    font-weight: bold;
    flex-basis :60%;
}

.userCnt_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20%;
}
.memoRow__time{
    padding-right: 15px;
    font-size: 9px;
    font-weight: bold;
}

.memoRow__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis :40%;
    height: 2vh;

}

.memoRow__time{
    display: flex;
    flex-wrap: wrap;
    flex-basis :10%;
    width: 100%;
    position: relative;
    bottom: -40%;


}

.userCnt{
    display: flex;
    height: 1vh;
    font-weight: bold;
    font-size: large;
    margin-top: 0px;
    margin-left: 5px;

}

::-webkit-scrollbar { display: none; }

