.header{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items:right;
    /* background-color: rgb(212, 172, 172); */
    background-color: black;
    height: 8vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.header__left {
    display:flex;
    align-items:center;
}

.header__right{
    display: flex;
    margin-top:10px;
    margin-right: 8px;
    justify-content: flex-end
}

