.status.fail{
    display: none
}
.buttonGroup{
	height:5vh;
	width: 100%;
	position:sticky;
	left: 0;
	bottom: 1vh;
    justify-content: center;
	background-color: rgb(37, 36, 36);

}
/* .editorWrapper{
	position:sticky;
	height:100%;
	width:100%;
} */
/* .status.success {
	background: lawngreen;
}
.status {
	background: red;
	border-radius: 100%;
	height: 16px;
	width: 30px;
	margin: 0 0.5rem;
} */
