.createMemo{
    flex:1;
    background-color: rgb(247, 189, 247);

}
.createMemo__tools{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.createMemo__toolsLeft{
    display:flex;
}

.createMemo__body{
    display:flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    padding: 20px;
    height: 80vh;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}
.createMemo__bodyHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}
<<<<<<< HEAD

.memberList{
    display:flex;
    flex-direction: column;
    margin: 10px;
    background-color: whitesmoke;
    padding: 8px;
    height: 6.5vh;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);

    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.avatar_skin{
    
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.24);
}
=======
.createMemo__bodyHeader >p{
    margin-left:20px;
}
>>>>>>> 8385a3b3f1a3ce748099bd87d5729379fa39ab31
