.memoList{
    flex:1;
    overflow:scroll;
    background-color: rgb(199, 181, 199);

}
.memoList::-webkit-scrollbar{
    display: none;
}
.memoList__list{
   flex:1;
}

.footer__right{
    display: flex;
    margin-top:10px;
    justify-content: flex-end
}
