.memoList{
    flex:1;
    overflow:scroll;
}
.memoList::-webkit-scrollbar{
    display: none;
}
.memoList__list{
    padding-bottom: 20%;
}

.footer__right{
    display: flex;
    margin-top:10px;
    padding-right: 20px;
    justify-content: flex-end
}
