.app{
  height:100vh;

}
*{
 
  font-family: 'Noto Sans KR', sans-serif;

}
.app__body{
  display:flex;
  height:100vh;
  background-color: rgb(37, 36, 36);

}
.header{
  display:flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.header__left {
  display:flex;
  align-items:center;
}
/* 부엉이삭제 */
.css-oq1wa3{
  display:none;
}

.header__right_app{
  display: flex;
  margin-top:10px;
  padding-right: 20px;
  justify-content: flex-end
}


remirror-editor.ProseMirror:focus {outline: gray solid 2px;}

/* editor css */
.remirror-editor.ProseMirror{
  background-color: white;
  margin-top: -15px;
  width: 100%;
  height: 100%;
}

@media (max-height: 540px) {
  .remirror-editor.ProseMirror {
   
    height: 50%
  }
}
.remirror-theme{
  width: 100%;
  height: 100%;
  
  
}

.remirror-editor-wrapper{
  background-color: rgb(37, 36, 36);
  padding-top :10px;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 6vh ;
  width: 100%;
  height: 100%;
  font-size: larger;
  font-family: 'Noto Sans KR', sans-serif;
}

.spinner{
  width: 100%; 
  height: 100vh; 
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center; /* 수직 정렬 */
   -webkit-box-pack: center;
   -moz-box-pack: center; 
   -ms-flex-pack: center; 
   justify-content: center; /* 수평 정렬 */
    
}
.spinner__icon{
  width: 70px !important; 
  height: 70px !important;
}